.sidebarContainer {
    position: relative;
    height: 100%;
}
.sidebarContainer .userInfoContainer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.sidebarContainer .twitterIcon {
    font-size: 32px;
}
.sidebarContainer .tweetButton {
    width: 90%;
    min-height: 52px;
    font-size: 16px;
    margin: 5px 0px;
}
@media (min-width: 0px) {
    .sidebarContainer .mobileTweetButton {
        display: inline-flex;
    }
    .sidebarContainer .userInfoContainer,
    .sidebarContainer .tweetButton {
        display: none;
    }
}
@media (min-width: 600px) {
    .sidebarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 900px) {
    .sidebarContainer .tweetButton {
        display: block;
    }
    .sidebarContainer {
        display: block;
        flex-direction: unset;
        align-items: unset;
    }
    .sidebarContainer .userInfoContainer {
        display: block;
    }
    .sidebarContainer .mobileTweetButton {
        display: none;
    }
}