.navigation,
.floatingTweetButton {
    position: fixed;
}
.navigation {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 8px 0px;
    background-color: #ffffff;
    z-index: 2;
}
.floatingTweetButton {
    bottom: 90px;
    right: 20px;
}